*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #222222;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recibo,
.car {
  background: linear-gradient(180deg, rgba(20, 20, 20, 1) 29%, rgba(51, 49, 49, 1) 100%);
  border: 2px solid #9b4a1b;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
}

#car-id {
  overflow: auto;
  border: none;
  width: 100%;
  background: none;
}

span {
  color: #9b4a1b;
  font-weight: 700;
}

#span-total {
  text-decoration: underline;
  color: white;
}

#p-total {
  font-size: 18px;
}

.carrito-img {
  height: 100%;
  object-fit: cover;
  width: 100px;
  margin-inline: auto;
  border-radius: 0.5rem;
}
thead {
  height: 2rem;
  border-bottom: 0.5px solid white;
}

td {
  height: 6rem;
  font-weight: 700;
  padding: 1rem 0;
  border-bottom: 0.5px solid white;
}

#total {
  display: flex;
  flex-direction: column-reverse;
}

.btns-carrito {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 34px;
  align-items: center;
  padding: 0.5rem;
  background-color: #141414;
  border-radius: 1.5rem;
  font-weight: 500;
  color: #9b4a1b;
  font-weight: 700;
  transition: ease-in-out 0.3s;
  width: 100%;
}
.btns-carrito:hover {
  background-color: #9b4a1b;
  color: #141414;
}

table {
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}

#flex-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0rem 1rem;
  text-align: center;
}

.delete-btn-carrito {
  cursor: pointer;
  height: 27px;
  width: 27px;
}

@media (min-width: 640px) {
  #recibo {
    width: 95vh;
    padding: 1rem 1rem 0 1rem;
  }

  #flex-btn {
    flex-direction: row-reverse;
    justify-content: end;
  }

  .btns-carrito {
    width: 150px;
  }

  #p-total {
    font-size: 22px;
  }

  #total {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
}

@media (max-width: 640px) {
  #car-id {
    font-size: 15px;
  }

  .carrito-img {
    height: 70%;
    width: 70px;
  }
}
